.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #EDEDED;
    margin-bottom: 8px;
    padding-bottom: 5px; 
}

.header .place {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: bold;
}

.field {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2px 0;
}

.label,
.data {
    font-family: "Open sans";
    font-size: 18px;
}

.label {
    font-weight: bold;
    width: 40%;
}